.princ {
    .MuiPaper-root {
      background-color: #2a2929;
    }
  
    .colortext {
      color: azure;
    }
  
    .coloricons {
      color: azure;
    }
  
    .MuiButtonBase-root {
      background-color: #ffffff25;
    }
  
    .bot {
      margin-top: 100px;
    }
  }